.ship-detail {
    margin: 3rem 3rem;
}

.ship-header {
    margin-bottom: 22px;

    cursor: pointer;
}

.icon {
    margin-right: 7px;
}

.text {
    font-size: 16px;
    color: #2962ff;
}

.name {
    margin-bottom: 36px;

    font-size: 24px;
    font-weight: 700;
}

.properties {
    margin-top: 53px;

    display: flex;
    flex-wrap: wrap;

    gap: 40px 10px;

}

.item {
    display: flex;
    align-content: space-between;

    box-sizing: border-box;

    padding-right: 10rem;

    flex: 1 1 calc((100% / 2) - 80px);

    &-header {
        max-width: 20px;
        margin-right: 5rem;
    }

    &-value {
        color: #2962ff;
    }
}

.value {
    color: #2962ff;
}
