.header {
    margin-bottom: 35px;

    &-text {
        font-size: 18px;
        font-weight: 600;
    }
}

.filters {
    display: flex;
    flex-direction: column;

    &-name {
        margin-bottom: 41px;
    }
}

.filters-port {
    margin-bottom: 24px;
}

.filters-type {
    margin-bottom: 23px;

    .header {
        display: inline-block;

        margin-bottom: 25px;

        font-weight: 700;
        line-height: 19px;
    }
}

.reset-button {
    background: none;

    padding: 4px 2px;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    cursor: pointer;

    &:hover {
        border-color: rgba(0, 0, 0, 0.5);
    }
}
