<div class="header">
    <span class="header-text">Фильтры</span>
</div>

<form [formGroup]="filtersForm">
    <div class="filters">
        <lib-input
            [formControlName]="SHIP_NAME"
            placeholder="Название"
            class="filters-name"
        ></lib-input>

        <lib-checkbox-list
            [items]="shipsPorts"
            [formControlName]="SHIP_PORTS_ITEMS"
            placeholder="Порт"
            class="filters-port"
        ></lib-checkbox-list>

        <div class="filters-type">
            <span class="header">Тип</span>

            <lib-radio-list
                [items]="shipsTypes"
                [formControlName]="SHIP_TYPE"
            ></lib-radio-list>
        </div>

        <button type="button" class="reset-button" (click)="resetFilters()">
            Сбросить фильтры
        </button>
    </div>
</form>
