<div class="header">
    <span class="header-text">Фильтры</span>
</div>

<form [formGroup]="filtersForm">
    <div class="filters">
        <div class="filters-name">
            <input type="text" [formControlName]="SHIP_NAME" />
        </div>

        <div class="filters-port">
            <div *ngFor="let port of shipsPorts">
                <input
                    type="checkbox"
                    [checked]="isCheckboxChecked(port)"
                    (change)="onCheckboxChange(port)"
                />
                <input type="text" value="{{ port }}" />
            </div>
        </div>

        <div class="filters-type">
            <div *ngFor="let type of shipsTypes">
                <input
                    type="radio"
                    [checked]="isRadioChecked(type)"
                    (change)="onRadioChange(type)"
                />
                <input type="text" value="{{ type }}" />
            </div>
        </div>

        <button type="button" (click)="resetFilters()">Сбросить фильтры</button>
    </div>
</form>
