.header {
    margin-bottom: 35px;

    &-text {
        font-size: 18px;
        font-weight: 600;
    }
}

.filters-form {
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.radio-btn {
    margin-right: 28px;
}
