<div class="ship-detail">
    <div class="ship-header" (click)="onClick()">
        <span class="link-text">Вернуться</span>
    </div>

    <ng-container [ngSwitch]="loadingState$ | async">
        <ng-container *ngIf="(ship$ | async)! as ship">
            <ng-container *ngSwitchCase="loadingState.LOADING">
                <ng-container *ngTemplateOutlet="loading"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="loadingState.SUCCESS">
                <ng-container
                    *ngTemplateOutlet="shipInfo; context: { $implicit: ship }"
                ></ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #loading>
    <h1>Loading</h1>
</ng-template>

<ng-template #shipInfo let-ship>
    <div class="ship-info">
        <span class="name">{{ ship.name }}</span>

        <div class="item">
            <span class="header">Тип</span>
            <span class="value">{{ ship.type }}</span>
        </div>

        <div class="item">
            <span class="header">Порт</span>
            <span class="value">{{ ship.homePort }}</span>
        </div>

        <div class="item">
            <span class="header">Вес</span>
            <span class="value">{{ ship.weight }}</span>
        </div>

        <div class="item">
            <span class="header">Год</span>
            <span class="value">{{ ship.yearBuild }}</span>
        </div>

        <div class="item">
            <span class="header">Роли</span>
            <span class="value">{{ ship.roles }}</span>
        </div>
    </div>
</ng-template>
