.ship-detail {
    margin: 3rem 3rem;
}

.ship-header {
    margin-bottom: 18px;

    cursor: pointer;
}

.text {
    font-size: 16px;
    color: #185cce;
}

.name {
    margin-bottom: 36px;

    font-size: 24px;
    font-weight: 700;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.properties {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: row;

    &-header {
        margin-right: 5rem;
    }

    &-value {
        color: #185cce;
    }
}

.item:not(:last-child) {
    margin-bottom: 5px;
}

.value {
    color: #185cce;
}
